# Netlify 下需在 Dashboard 設定這些環境變數 (Environment variables to set in Netlify dashboard)
LINE_CHANNEL_ID=
LINE_CHANNEL_SECRET=
LINE_CHANNEL_ACCESS_TOKEN=
LINE_RICH_MENU_ID_6=
NOTION_API_KEY=
NOTION_DATABASE_ID=

# 前端環境變數 (Environment variables for frontend)
VITE_LIFF_ID=
